<html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#00D1B2">

  <meta property="og:image" content="images/transportation.jpg">
  <link rel="stylesheet" href="bulma.min.css">

  <link rel="manifest" href="manifest.json">
  <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>

  <link href='https://api.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
  <title>Transporter</title>


</head>

<body>
  <div class="section" id="app">
    </p>
    <section class="section">
      <div class="container has-text-centered">
        <h1 class="is-size-1">
          Transporter
        </h1>
        <div class="container has-text-centered"></div>
        <div class="">
          <img src="transportation.jpg" alt="Trulli" width="300" height="233"><br>
        </div>
      </div>

        <form class="form" v-on:submit.prevent>
          <div class="field">
            <label class="label">Username</label>
            <input v-model="username" class="input" type="text" id="username" v-bind:class="{'is-danger':usernameErrorMessage}">
            <ul>
              <li v-for="error in usernameErrorMessage">
                {{ error.msg }}
                <span>{{new Date(error.date).toString()}}</span>
              </li>
            </ul>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <input v-model="password" class="input" type="password" id="password" v-bind:class="{'is-danger':passwordErrorMessage}">

            <ul>
              <li v-for="error in passwordErrorMessage">
                {{ error.msg }}
                <span>{{new Date(error.date).toString()}}</span>
              </li>
            </ul>
          </div>
        </form>
    </section>
  <div id="logins">
    <div class="field">
      <button v-on:click="validate" class="buttont" type="submit">Login</button>
    </div>

    
    <div>
      Don't have an account?
      <a href="">Register</a>
    </div>
  </div>
  </div>

  <div class="field is-grouped is-grouped-centered" id="back" style="margin-top: 2rem">
    <div class="control">
      <button class="button is-black" onclick="backWards();" style="padding-left: 4em; padding-right: 4em">Back</button>
    </div>
  </div>
  <div class="container is-fullhd" id="map-form" style="width: 100vw">

    <div id='map' style='width: 100vw; height: 600px;'></div>
  </div>
  <script src="script.js"></script>
</body>

</html>

</html>